@use"extend.scss" as *;

.section2{
    background: url(../../img/flower.svg);
    height: 270px;
    width: 100%;
&_all{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 50px 0;
}
    h1{
        font-family: "Roboto Slab", sans-serif;
font-weight: 700;
font-size: 40px;
line-height: 1.25;
text-align: center;
color: #fff;
padding: 20px 0;
    }
    button{
        border-radius: 20px;
width: 138px;
height: 40px;
background: #4592ff;
color: #fff;
display: flex;
align-items: center;
justify-content: center;
border: none;
    }
}
@media(max-width:724px){
    .section2{
        height: 100%;
    
    }
  
}