@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

a {
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  width: 90%;
  max-width: 1350px;
  margin: 0 auto;
}

button,
i {
  cursor: pointer;
}

body {
  background-color: #E5E5E5;
}

.upper_text {
  font-family: "Roboto Slab", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5625;
  color: #262d33;
}

.lower_text {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.25;
  color: #939699;
}

.header {
  padding: 10px 0;
}

.navbar_top {
  border-bottom: 1px solid #d9dadb;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}
.navbar_top_item {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 30px;
}
.navbar_top_item form {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 10px;
}
.navbar_top_item form input {
  border: none;
  outline: none;
}
.navbar_top_item form button {
  border: none;
  background-color: transparent;
}
.navbar_top_travel {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 5px;
}
.navbar_top_travel h2 {
  font-weight: 900;
  font-size: 12px;
  line-height: 1.25;
  color: #262d33;
}
.navbar_top_travel p {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.25;
  color: #939699;
}
.navbar_bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
  padding-top: 15px;
}
.navbar_bottom h2 {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.42857;
  color: #4b5157;
}
.navbar_bottom p {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.42857;
  color: #4b5157;
}
.navbar_bottom_item {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 25px;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 15px;
}

.signin {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 10px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.42857;
  color: #4b5157;
}

.vektors {
  height: 40px;
  width: 1px;
  background-color: #d9dadb;
}

.weather {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 5px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.42857;
  color: #4b5157;
}

@media (max-width: 829px) {
  .navbar_top_item form input {
    display: none;
  }
  .navbar_bottom {
    flex-direction: column;
  }
  .navbar_bottom h2 {
    display: none;
  }
  .navbar_bottom_item {
    justify-content: space-between;
    width: 100%;
  }
  .logo p {
    display: none;
  }
  .signin p {
    display: none;
  }
}
@media (max-width: 412px) {
  .navbar_top img {
    display: none;
  }
}
.navbar_bottom {
  padding: 30px 0;
}

.top, .art .top, .top1, .top2, .top3, .top4, .top5 {
  font-family: "Lato", sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.25;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  padding: 10px 30px;
  border-top: 1px solid #4b5157;
}

.flex, .section5 .section5_all_all, .section5 .section5_all, .place1 .place1_items, .place1 .place1_items button, .section4 .place2, .section3 .box_all, .section3 .box_all .box_right_top, .section3 .box_all .box_right_bottom, .box_right_top1, .box_right_top2, .box_right_top6, .section3_all, .recommended h2, .recommended_box, .cars .cars_top, .cars .cars_bottom, .art .art_bottom, .art .art_bottom .niz {
  display: flex;
  align-items: center;
  justify-content: center;
}

.card, .card1, .card2, .card3, .card4 {
  border-radius: 10px;
  background-color: #fff;
  width: 273px;
  height: 170px;
  padding: 20px;
}

.showcase {
  background: #262d33;
  padding: 30px 0;
}
.showcase_links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
  overflow-x: auto;
}
.showcase_links li {
  text-wrap: nowrap;
}
.showcase_links li a {
  color: #fff;
  font-weight: 600;
  font-size: 13px;
  line-height: 1.42857;
  letter-spacing: 0.04em;
  text-transform: uppercase;
}
.showcase_bottom {
  width: 95%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 3fr 1fr;
  height: 600px;
  margin-top: 60px;
}
.showcase_mountain {
  background: url(../../img/mountains.svg);
  background-size: cover;
  border-radius: 8px 0 0 8px;
}
.showcase_mountain_item {
  width: 88%;
  margin: 0 auto;
  padding: 30px 0;
  display: flex;
  align-items: start;
  justify-content: space-between;
  gap: 5px;
  flex-direction: column;
  height: 100%;
}
.showcase_recomended {
  background-color: #fff;
  border-radius: 0 8px 8px 0;
}

.avatar {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 5px;
}
.avatar h2 {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.42857;
  color: #fff;
}
.avatar p {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.25;
  color: #fff;
}

.destinations h2 {
  font-weight: 900;
  font-size: 12px;
  line-height: 1.25;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #4592ff;
  padding-bottom: 10px;
}
.destinations h1 {
  font-weight: 700;
  font-size: 40px;
  color: #fff;
  width: 70%;
  margin-bottom: 20px;
}
.destinations button {
  background: #4592ff;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  color: #fff;
  border: none;
  width: 138px;
  height: 40px;
  border-radius: 20px;
}

.play_buttons {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 50px;
}

.play {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 20px;
}
.play h3 {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.42857;
  color: #fff;
}
.play p {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.25;
  color: #fff;
  opacity: 0.4;
}

.showcase_recomended {
  display: grid;
  grid-template-columns: 1fr;
}
.showcase_recomended h2 {
  padding: 30px;
  font-weight: 900;
  font-size: 14px;
  line-height: 1.42857;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #262d33;
}

.top1 {
  color: #3bbdc3;
}

.top2 {
  color: #6e99ae;
}

.top3 {
  color: #ac8ee3;
}

.top4 {
  color: #ffa34d;
}

.top5 {
  color: #3dc473;
}

.text {
  padding: 0 30px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.42857;
  color: #4b5157;
}

@media (max-width: 1000px) {
  .showcase_bottom {
    width: 100%;
    grid-template-columns: 100%;
  }
}
.section1 {
  margin: 50px 0;
}

.cars {
  border-radius: 10px;
  background-color: #fff;
  width: 555px;
  height: 370px;
  padding: 0 30px;
}
.cars .cars_top h1 {
  font-family: "Roboto Slab", sans-serif;
  font-weight: 700;
  font-size: 25px;
  line-height: 1.2;
  color: #262d33;
}
.cars .cars_top .text {
  padding: 0;
}
.cars .cars_top .top2 {
  border-top: none;
  padding: 10px 0;
}
.cars .cars_bottom {
  padding: 20px 0;
  border-top: grey 1px solid;
}

.art {
  background: url(../../img/art.svg);
  background-size: cover;
  width: 263px;
  height: 370px;
  border-radius: 10px;
  padding: 20px 30px;
}
.art .popular {
  border-radius: 3px;
  width: 66px;
  height: 25px;
  background: #3dc47e;
  font-weight: 900;
  font-size: 12px;
  text-align: center;
  color: #fff;
  padding: 5px;
  margin-bottom: 130px;
}
.art .top {
  color: #e7d9ff;
  border-top: none;
  padding: 0;
}
.art h1 {
  font-family: "Roboto Slab", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5625;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #fff;
  padding: 10px 0;
}
.art .art_bottom {
  justify-content: start;
}
.art .art_bottom .niz {
  gap: 10px;
}
.art .art_bottom .niz p {
  font-weight: 400;
  font-size: 12px;
  color: #fff;
  opacity: 0.4;
}
.art .art_bottom .niz svg {
  opacity: 0.4;
}

.sarah_all > p {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.42857;
  color: #fff;
  opacity: 0.85;
}

.cat {
  font-family: "Roboto Slab", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5625;
  color: #262d33;
  background-color: #fff;
  width: 263px;
  height: 370px;
  border-radius: 15px;
}
.cat h3 {
  font-family: "Roboto Slab", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5625;
  color: #262d33;
  padding: 10px 30px;
}
.cat img {
  border-radius: 15px;
}

.text {
  padding: 10px 0;
}

.section1_all {
  display: grid;
  grid-template-areas: "card1 card1 card2" "card3 card4 card5" "card3 card6 card7";
}

.cars {
  grid-area: card1;
}

.art {
  grid-area: card2;
}

.cat {
  grid-area: card3;
}

.card1 {
  grid-area: card4;
}

.card2 {
  grid-area: card5;
}

.card3 {
  grid-area: card6;
}

.card4 {
  grid-area: card7;
}

@media (max-width: 1000px) {
  .section1 {
    margin-top: 300px;
  }
}
@media (max-width: 871px) {
  .section1_all {
    grid-template-areas: "card1" "card2" "card3" "card4" "card5" "card6" "card7";
  }
}
@media (max-width: 589px) {
  .cars_top {
    flex-wrap: wrap;
  }
  .cars {
    height: 100%;
    width: 350px;
  }
  .section1_all {
    gap: 20px;
  }
}
@media (max-width: 403px) {
  .section1 {
    margin-top: 500px;
  }
}
.section2 {
  background: url(../../img/flower.svg);
  height: 270px;
  width: 100%;
}
.section2_all {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 50px 0;
}
.section2 h1 {
  font-family: "Roboto Slab", sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 1.25;
  text-align: center;
  color: #fff;
  padding: 20px 0;
}
.section2 button {
  border-radius: 20px;
  width: 138px;
  height: 40px;
  background: #4592ff;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
}

@media (max-width: 724px) {
  .section2 {
    height: 100%;
  }
}
.section3 {
  margin: 50px 0;
}
.section3 .box_all {
  width: 848px;
  height: 245px;
  background-color: white;
  padding: 20px;
}
.section3 .box_all .box_right_top {
  justify-content: space-between;
  padding: 10px 0;
}
.section3 .box_all .box_right_top p {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #4592ff;
}
.section3 .box_all .box_right_center h2 {
  font-family: "Roboto Slab", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.25;
  color: #262d33;
}
.section3 .box_all .box_right_bottom {
  gap: 20px;
  justify-content: start;
}

.box_right {
  padding: 30px 0;
  padding-left: 30px;
}

.box_right_top1 {
  justify-content: space-between;
  padding: 10px 0;
}
.box_right_top1 p {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #3bbdc4;
}

.box_right_top2 {
  justify-content: space-between;
  padding: 10px 0;
}
.box_right_top2 p {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #ff4f52;
}

.box_right_top6 {
  justify-content: space-between;
  padding: 10px 0;
}
.box_right_top6 p {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #ac8ee3;
}

.box_all {
  border-top: #d9dadb solid 2px;
  padding: 20px;
}

.comment {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.25;
  color: #939699;
}

.section3_all {
  gap: 30px;
}

.recommended {
  border-radius: 10px;
  background-color: #fff;
  width: 263px;
  padding: 10px;
}
.recommended h2 {
  font-weight: 900;
  font-size: 14px;
  line-height: 1.42857;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #262d33;
}

.recommended_box {
  gap: 20px;
  padding: 10px 0;
  border-top: #d9dadb solid 1px;
}

.section3_all {
  align-items: start;
}

@media (max-width: 1342px) {
  .box_all {
    flex-direction: column;
  }
  .box_right {
    width: 50%;
  }
  .section3_all {
    flex-direction: column;
    gap: 30px;
  }
}
.place1 {
  background: url(../../img/place1.svg);
  width: 555px;
  height: 570px;
  border-radius: 10px;
}
.place1 .hot {
  border-radius: 3px;
  width: 45px;
  height: 25px;
  background: #ff4f52;
  font-weight: 800;
  font-size: 12px;
  padding: 5px;
  text-align: center;
  color: #fff;
  border: none;
}
.place1 .place1_items {
  flex-direction: column;
  padding: 50px 0;
}
.place1 .place1_items p {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.42857;
  text-align: center;
  color: #fff;
  opacity: 0.85;
}
.place1 .place1_items h1 {
  font-family: "Roboto Slab", sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 1.25;
  text-align: center;
  color: #fff;
  padding: 30px 0;
}
.place1 .place1_items button {
  border-radius: 20px;
  width: 185px;
  height: 40px;
  background: #4592ff;
  border: none;
  font-weight: 900;
  font-size: 14px;
  line-height: 1.42857;
  color: #fff;
  gap: 10px;
}

.hot {
  margin: 30px 20px;
}

.section4 {
  background-color: #262d33;
}
.section4 .place2 {
  background: url(../../img/place2.svg);
  border-radius: 10px;
  width: 555px;
  height: 370px;
}
.section4 .place2 h1 {
  font-family: "Roboto Slab", sans-serif;
  font-weight: 700;
  font-size: 25px;
  line-height: 1.2;
  color: #262d33;
  padding: 20px 0;
}
.section4 .place2 .carreers {
  font-weight: 800;
  font-size: 12px;
  line-height: 1.25;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #6e99ae;
}
.section4 .place2 button {
  border-radius: 20px;
  width: 138px;
  height: 40px;
  background: #4592ff;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  margin-top: 20px;
}

.section4 {
  padding: 50px 0;
}
.section4 .places {
  display: grid;
  grid-template-areas: "place1 place1 place2 place2" "place1 place1 place3 place4";
}
.section4 .place1 {
  grid-area: place1;
}
.section4 .place2 {
  grid-area: place2;
}
.section4 .card1 {
  grid-area: place3;
}
.section4 .card2 {
  grid-area: place4;
}

@media (max-width: 1173px) {
  .places {
    grid-template-areas: "place1" "place2" "place3" "place4";
  }
}
.section5 {
  background-color: #fff;
  padding: 50px 0;
}
.section5 .section5_all_all {
  flex-direction: column;
  gap: 30px;
}
.section5 h1 {
  font-family: "Roboto Slab", sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 1.25;
  text-align: center;
  color: #262d33;
}
.section5 .section5_all {
  gap: 30px;
}
.section5 .section5_all input {
  border: 1px solid #d9dadb;
  border-radius: 5px;
  width: 313px;
  height: 40px;
}
.section5 .section5_all button {
  border-radius: 20px;
  width: 119px;
  height: 40px;
  background: #4592ff;
  border: gray;
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-size: 14px;
  line-height: 1.42857;
  text-align: center;
  color: #fff;
}

/*# sourceMappingURL=style.css.map */
